@font-face {
    font-family: "BeautyMountainsPersonalUse";
    src: url("../fonts/beauty-mountains-personal-use-font/BeautyMountainsPersonalUse.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}